    <!-- About Section -->
    <section id="despre" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>Te simți obosit și surmenat din cauza aglomerației din oraș, stresat datorită presiunii de la locul de muncă și a ritmului tot mai trepidant și accelerat al vieții? Te-ai gândit să evadezi pentru câteva zile într-un loc relaxant?</p>
                <h2>DESCOPERĂ SOLUȚIA PERFECTĂ!</h2>
                <p>Vino la Maramureș, vino la țară, hai la casa bunicii într-un loc minunat în mijlocul naturii, unde te bucuri de aer curat, de iarbă verde, de pace și liniște, unde te vei recupera și relaxa mental și fizic.</p>
                <p>Gazda te primește cu caldură și ospitalitate. Te servește cu deliciile culinare specifice și naturale din propria cămară. Simte-te REGE!</p>
            </div>
        </div>
    </section>
