    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Cumpară o fotografie de fundal și vei intra automat în tombolă!</h2>
                    <a href="detalii" class="btn btn-info btn-lg">Află cum!</a>
                </div>
            </div>
        </div>
        <br/>
        <h4>Câștigă tu și mai iei cu tine încă o familie de prieteni GRATIS</h4>
    </section>
